%ul.reasons
  %li Dengan 3 langkah, motor bisa diantar
  %li.support
    %h4 1. Pilih motor yang mau dicicil
  %li.quality
    %h4 2. Lengkapi data diri
  %li.delivery
    %h4 3. Kirim proses pengajuan