%ul.reasons
  %li.support
    %h4 1. Pilih motor yang mau dicicil
    %p Bisa Yamaha, Honda atau Suzuki.
  %li.quality
    %h4 2. Upload dokumen untuk kebutuhan survey
    %p Agar kami tahu kalau Anda serius dalam menyicil motor.
  %li.delivery
    %h4 3. Proses Survey
    %p Kami akan menghubungi Anda untuk kebutuhan survey. Setelah survey, motor bisa langsung diantar.