= content_for :sidebar do
  .checkout
    %dl
    	%dt Bagaimana keadaan motor-motor si Kapten?
      %dd Semua motor Kapten dalam keadaan baru. Anda bisa buktikan ketika Kapten telah mengirim motornya ke tempat tinggal Anda.
      %dt Apakah ada transaksi di KaptenMotor?
      %dd Tidak ada. Si Kapten hanya berniat untuk mempermudah proses pengajuan kredit motor Anda. Biar punya motor makin gampang. Kemana-mana makin mudah dan cepat.
      %dt Apakah data-data/privasi kami akan disebarluaskan oleh si Kapten?
      %dd Si Kapten sangat menghargai data dan privasi Anda. Kapten menjamin bahwa data-data Anda tidak akan disalahgunakan. Muka Kapten boleh terlihat seperti kriminal, tapi integrasi tetap nomor 1.
      %dt Berapa lama proses semuanya?
      %dd Kapten bilang 2 minggu, insyaaAllaah, motor bisa diantar ke tempat tinggal Anda.
