- active_nav_item :faqs
- @page_title = 'Frequently asked questions'
.content
  %h2 Frequently asked questions
  %ul 
    %li Bagaimana keadaan motor-motor si Kapten?
    %p Semua motor Kapten dalam keadaan baru. Anda bisa buktikan ketika Kapten telah mengirim motornya ke tempat tinggal Anda.
    %li Apakah ada transaksi di KaptenMotor?
    %p Tidak ada. Si Kapten hanya berniat untuk mempermudah proses pengajuan kredit motor Anda. Biar punya motor makin gampang. Kemana-mana makin mudah dan cepat.
    %li Apakah data-data/privasi kami akan disebarluaskan oleh si Kapten?
    %p Si Kapten sangat menghargai data dan privasi Anda. Kapten menjamin bahwa data-data Anda tidak akan disalahgunakan. Muka Kapten boleh terlihat seperti kriminal, tapi integrasi tetap nomor 1.
    %li Berapa lama proses semuanya?
    %p Kapten bilang 2 minggu, insyaaAllaah, motor bisa diantar ke tempat tinggal Anda.