- active_nav_item :why
- @page_title = 'Pengajuan cicilan lewat KaptenMotor'
.content
  %h2 Mengapa KaptenMotor?
  %p KaptenMotor menawarkan kemudahan untuk proses kredit motor Anda. Dengan 3 langkah mudah, Anda dapat langsung mengajukan proses dan menunggu motor diantar ke tempat tinggal Anda.

  %p Dengan jaringan yang dipunyai oleh KaptenMotor, Anda dapat memilih banyak jenis motor dengan beragam skema pembayaran yang ringan di kantong. Yamaha, Suzuki, atau Honda dengan cicilan 12 bulan, 24 bulan atau 36 bulan (bahkan sebagian 48 bulan) kami sediakan untuk Anda.